[2021-12-25 08:52] BewilderedAgain opened #297 "Feature Request: Export Single Message"
I'd like to export a single email with the filename set as specified according to a custom format rules in one step.

 To make this work at the moment is rather long winded. You have to copy the message to a temporary folder,  then "Export all messages in folder" and finally delete the copy of the message from the temporary folder.

[2021-12-28 02:16] jimspoon commented on #297
Try right-clicking single message > Save Selected Messages > select desired export format > select export destination folder.

[2021-12-28 07:34] BewilderedAgain commented on #297
Perfect! Thanks.

[2021-12-28 07:34] #297 closed

[2021-12-31 13:39] sonjavanwyk opened #298 "ImportExportTools NG Version 10.0.2 : Maintenance Release - November 14, 2020 doesn't add entries to Tools menu"
I want to import an MBOX file (originally created from Gmail) into Thunderbird.

My Thunderbird Version is 91.4.1 (64-bit)

My ImportExportTools NG is Version 10.0.2 : Maintenance Release - November 14, 2020

No additional menu items are added to the Tools Menu even though I've restarted Thunderbird and laptop.

Can you assist?

[2021-12-31 14:30] jobisoft commented on #298
https://github.com/thundernest/import-export-tools-ng/releases

[2022-01-01 12:29] sonjavanwyk commented on #298
Hi John,

Thank you for the link, but I guess this was meant for developers.  How do
I install Version 11.2?

Thanks in advance.

*Sonja van Wyk*
*+27 84 200 1464*

On Fri, Dec 31, 2021 at 4:30 PM John Bieling ***@***.***>
wrote:

[2022-01-01 12:37] jobisoft commented on #298
The last official release is 11.1:
https://addons.thunderbird.net/addon/importexporttools-ng/versions/

You should get that automatically if you check for add-on updates in Thunderbird.

![grafik](https://user-images.githubusercontent.com/5830621/147850706-9c6f2fc9-9f79-47dd-8c80-bc046e29e53e.png)

[2022-01-01 13:23] sonjavanwyk commented on #298
My apologies, I neglected to say that I did check for updates but none were
found.
[image: image.png]
*Sonja van Wyk*
*+27 84 200 1464*

On Sat, Jan 1, 2022 at 2:37 PM John Bieling ***@***.***>
wrote:

[2022-01-02 23:39] OutSystemsX commented on #298
Fresh install of OSX Monterey 12.1
Fresh install of TBird 91.4.1

Install of IETNG v10.0.2 via TBird Add-Ons UI and RESTART Tbird
No IETNG Context Menu (and no 'wrench' icon)
REMOVE IETNG v10.0.2 and QUIT TBird

Install of IETNG v11.1 via TBird Add-Ons UI (Version Info @ bottom of pg.) and RESTART TBird
No IETNG Context Menu (and no 'wrench' icon)
REMOVE IETNG v11.1 and QUIT TBird

Download IETNG

[2022-01-03 08:20] MrLoverLoverMMMM opened #299 "PDF Support stops after ~ 174 E-Mails"
Hello!
If I export 1270 Emails as pdf the export stops after about 174 e-mails.
It does not really matter if I do this at a inbox on an imap-server or a local archieve.
+ It also does not matter if I do this via whole mailbox support or by highligint the 1270 E-Mails and exporting the selected once.

Versions & OS:
OS: Windows 11 64 BIT
Thunderbird: 91.4.4.1 32 bit
Import Export Tools: 10.0.2

[2022-01-06 00:22] jimspoon commented on #299
See also issues 287 and 290, same thing I think.

[2022-01-08 18:27] wsmwk commented on #239
@jmgobrien does this still crash for you when using a current version 91?

[2022-01-30 22:31] pietercox opened #300 "Unable to export messages to CSV"
Hello,
Perhaps I'm doing something wrong.  Export to Text and other formats are fine, but I have no success with CSV.  The ouput produces just six columns:
A - The subject text
B - Sender's email address
C - Recipient's email address
D - Date sent
E - Blank
F - Subject:

To be clear, column F only contains the text "Subject:"

I'd be very grateful for any pointers to what I should try - or confirm

[2022-01-31 11:52] sochotnicky commented on #256
For what it's worth - google takeout adds X-Gmail-Labels header to each mbox mail.

Something like `X-Gmail-Labels: Inbox,Unread`

So it should be possible to at least import them as tags if nothing else

[2022-02-06 20:06] tangodev opened #301 "[feature request] compression upon backup"
Hello,

I've been using this extension for quite some time, mainly to perform backups. I'd like to request compression as an extra option (`tar.gz`, `zip`, `others`?).

As a result, instead of a directory `foo`, IET-NG would produce a file, ex. `foo.tar.gz`, `foo.zip` etc..

Rationale:
- backups tend to be in multiple GiBs of size
- text compresses well
- larger, compressed tarballs are easier to

[2022-02-06 20:16] tangodev opened #302 "[feature request] backup rotation"
Hello,

my main use case for this extension is doing backups. Currently I have to handle backup rotation on my side.

Would it be possible to add a feature that allows us to specify the maximum number of backups or how old the backups are allowed to be?

Example: [Joplin Backup Plugin](https://github.com/JackGruber/joplin-plugin-backup/blob/master/README.md)

![image](https://user-images.githubuse

[2022-02-09 11:06] jclozier opened #303 "importexporttools ng 11.2 in tb91 doesn't allow progress counter when saving to pdf"
i sent this problem to mozilla support & they told me to post this issue on this forum??? i'm not sure i know what i'm doing but i've been using thunderbird client email pkg for years now & download all my saved emails to pdf format to my computer & always had the counter tell me where it was at with the download but a month or so ago it stopped showing the counter & the mozilla response said it w

[2022-02-12 11:50] RGMai opened #304 "Export with more columns"
Hello,

would it be possible to add a feature that allows us to add columns to the export. For instance only the date sent is available actual. This is defined by the originator of the email and sometimes it is set to the year 2106. If the date received is not transferred to the export, the information when a email was really received is lost.

Remark: If there is a great difference between the da

[2022-02-14 14:21] dm17 commented on #260
Seems this add on doesn't work on Thunderbird 91.5, does it? The import buttons open and import mail and import everything options which has no options to import mbox files... It still doesn't make sense how to use this add on after reading over the tutorials and the rest. It gives the "no application to import data from found" when clicking next.

[2022-02-21 23:10] SamAtlantic opened #305 "Thunderbird 98"
Are there any plans to make IE compatible with Thunderbird 98 and beyond.  Some of the responses say IE is not going to be supported going forward.  If not thanks for your past efforts.

[2022-02-24 08:36] NedimBuyukmihci opened #306 "Problem with displaying E-mail address"
Thunderbird 91.6.1
ImportExportTools NG 11.1

When saving a message to HTML format, the leading '<' in an E-mail address in, for example, the From field, is rendered literally, therefore preventing the address from being displayed. For example, "From: Name <this@that.com>" is rendered as exactly that so that only "From: Name" is displayed. Rather a serious problem.

Is there a workaround for this?

[2022-03-14 08:53] Grossypossy opened #307 "Feature Request: Add Column Sent-Time (Duration Time)"
Hi,

nice work.
I would like to track the length of time it takes to reply/respond to an email for billing purposes.

I'm using import-export Tool to export as CSV Overview because I only need a Message list not the bodies.
It isn't possible to print a Message List only directly from Thunderbird.
(All my messages are organized in the project-specific subfolders)

When answering a Message in Thinde

[2022-03-16 22:19] amandabee opened #308 "Just Not Working"
I'm hoping to have a locally searchable archive of a few retired gmail accounts. To that end I installed Thunderbird 91.7.0 on Ubuntu, and used Takeout to download archived `.mbox` files.

I installed ImportExportTools NG from the extensions and it appears to be enabled.
![image](https://user-images.githubusercontent.com/150791/158650915-67fbf0ac-21c6-4c2a-954f-6b6d203a03d4.png) but the model unde

[2022-03-26 16:01] msimcich opened #309 ""impossible to import in this folder" when importing gmail-created mbox"
I may be using this add on incorrectly but so far any attempt to import an mbox results in this error:
"impossible to import in this folder (IMAP or newsgroup type)"
The mbox was generated by gmail's takeout feature for a gsuite account.
Can anyone tell me what the issue is? The goal is to export the email messages in the gsuite account, and import those messages into another gmail account, using

[2022-03-30 12:15] #83 closed

[2022-04-05 11:55] cablop commented on #186
I confirm it also happening for Yahoo! Mail.
Date shows right on Thunderbird, but email platform and other email clients, like Mac Mail, show them as received at import time.

[2022-04-05 17:21] KC-T opened #310 "Download attachments"
As far as I can experience, only the local copies of the attachments are exported. Attachments not downloaded from IMAP will only have the filenames exported with empty contents. Would like the app to be able to download the attachments from IMAP emails automatically when exporting.

[2022-04-07 09:48] maddin200 opened #311 "output during import/export"
In a Thunderbird 91.8.0 the output for an import is as well (Mouse over / Quciktext) "Aktuellen Export abbrechen". It might be better to use:
 "Aktuellen Export/Import abbrechen"

[2022-04-09 01:20] boldcompany opened #312 "FEATURE REQUEST: export attachments from selected emails"
It would be very helpful in certain scenarios to (a) not export selected emails, but to only (b) export those emails' attachments to a folder.

[2022-04-09 13:42] moerkey opened #313 "Question: How to update a msf file"
Hello,

I am working with Linux (Ubuntu) and the Unix movemail support was dropped in TB.
So I just cat the whole file /var/mail/user to a file, which represents a folder in Local Folders.
The problem is that the corresponding msf file is getting updated only after I restarted Thunderbird.
Is there a way to tell the running process of TB to rebuild the msf file?

Thank you in advance.

[2022-04-11 22:54] Scifisicko opened #314 "Spanner glyph not displaying"
Merging 2 profiles in 91.8.0 (64-bit), exported mail successfully from the host profile with this tool (event though it was displaying as disabled in Manage your Extensions, imported from the donor as .pcv using Mozbackup, went to add the host email back into the profile and the spanner glyph is no longer visible
[No spanner glyph](https://user-images.githubusercontent.com/103465282/162846323-0fff

[2022-04-12 23:11] Scifisicko commented on #314
Tried this again. This time using the tool to export mail from the donor machine. After successfully exporting mail from the donor, I imported the host's .pcv file into the donor's thunderbird. I went to add back the original donors mail and the spanner glyph had vanished again. Now I have the donors emails on the host machine and the hosts emails on the donor machine....

[2022-04-24 15:35] skoufaki commented on #296
I have the same issue

[2022-04-27 09:11] Trogged commented on #296
I too have the same issue, although it looks like the feature has been removed?

[2022-04-29 15:11] Pabout39 opened #316 "Compatibilité Thunderbird V 91.8.1"
Bonjour, J'ai essayé de télécharger/ installer votre module "import-export-tools-ng". L'installation m'est refusée avec le message "n'a pas été installé car n'a pas été vérifié". Y a-t-il une solution? Avec mes remerciements

[2022-05-01 17:05] jobisoft commented on #316
You tried to install the add-on in Firefox, which does not work. It is a Thunderbird add-on.

[2022-05-01 22:05] Steven684 commented on #77
Hi,
can it be, that this problem is un-solved, now printEngineWindowOverlay.js is in 'obsolete/'?

I am using version 11.1 (although helpfiles say 10.0.2), and all my print.print*.print_header* show either nothing (empty) or &T. But all my exported pdf's show both Title and Url in the header....

[2022-05-02 14:38] #316 closed

[2022-05-02 23:20] a2jc4life opened #317 "FEATURE REQUEST: Markdown"
I'd like to be able to export my notes in Markdown format (MD).  That would allow for archiving of emails that can then be easily read later with various note-management software options, like Joplin and Obsidian.

(I also echo the requests to export attachments...but if you don't export the attachments, it would be good for the Markdown file to at least include the filenames of all attachments so

[2022-05-03 18:35] TeslaMagic opened #318 "Export directories browse location not saved in input field ( duplicate #275)"
ImportExportTools NG v11.1 appears to work fine with the Thunderbird v100 and v101 candidates (using manifest change).

There is an issue with the "Export directories" Browse function (at least in Linux). You can click on Browse and select a folder/directory, but the selected does not get placed into the appropriate box. You can manually copy and paste the folder/directory locations into the "Expo

[2022-05-05 19:42] iampowerslave opened #319 "ER: Index export complete email addresses"
Hi.

I need to export at least all subjects, dates and From To addresses, then I will want to analyze (graph) that data. But I have found the following limitation which I don't understand if it is a configurable setting, a hard coded setting or there are options I can manage or not. CSV or HTML

Subjects are truncated to an amount of characters. Same for addresses, So I get many:

John Fitzgeral D

[2022-05-08 18:21] TomFromBe opened #320 "After import the subsubfolders are not shown"
Hello,
I exported an IMAP folder, and imported under my local folders (to see it it works)
However:
- In explorer I see the complete structure is available after import. So the  (.    & .msf-) files AND (.sbd-)subdirectores.  -> see left side of printscreen -> so looks OK

- However, in Thunderbird, I **don't** see the sub-subfolders. Thunderbird seems only to see the .msf files, and  does not sho

[2022-05-09 12:54] dp268 opened #321 "How to backup"
Kindly provide link to user guide for the "backup" function in ImportExportNG: I want to automate a daily backup of Thunderbird profile  at a specific time to a specific location. Thank you.

[2022-05-19 11:08] prosacious commented on #308
Thia is almost the same problem that I experience.  Same version of TB on two different W10 systems.  Although the ImportExport Tools NG appears under extensions (as above) there is nothing under the help/tools menu.  Another tool downloaded and worked perfectly.

[2022-05-19 14:30] prosacious commented on #308
After spending time looking for answers I found that if I right click on the Local folder icon I can see the import export tool NG.  No idea why it's there.  Now trying to make sense of the options that the tool presents.

[2022-05-19 17:14] prosacious commented on #308
When you right click on the local folder you should get the import export NG tool.  I chose "Import mbox file" which took me to a menu labelled "Choose the import way" on which I selected the top option "Import directly one or more mbox files".  This opens a file select menu that you should use to navigate to where your mbox is stored.  I was a bit confused because I could not find a file with a f

[2022-05-19 18:42] prosacious commented on #308
missed out a word in my excitement at getting it to work!

[2022-05-19 20:44] prosacious commented on #308
I just found that you can import your selected mbox file into Inbox or Local Folders.  Once the file is where you want it you can right click on it and rename it.

[2022-05-22 04:27] RomanoPauli opened #322 "Export Mail Folders"
I am trying to export a users inbox,  The users total inbox size is 9.6 Gb but when I export using the export folders (simple) method I only get 1.9 Gb.  I see folders that have several thousand emails in it.  However the MBOX file that the ImportExportNG creates for that folder is 0 bytes.

Any ideas would be helpful.
Thanks

[2022-05-26 09:42] pg-los commented on #309
Same here. please help

[2022-05-26 09:50] jobisoft commented on #309
Try to import them to a local folder, not an IMAP folder. Than drag'n'drop them into the other gmail account.

But does not have gmail itself an import function in the web-interface? This might be faster.

[2022-05-27 18:00] TeslaMagic commented on #318
This is just a workaround...

I have gotten all of this to work by editing the Thunderbird prefs.js directly. The "Export folders as single files" entry works as well.

[2022-06-13 20:34] JeffCoHale opened #323 "Mbox file size limit?"
I'm trying to import a Gmail mbox file generated from takeout. I did this previously with my account (an 8gig file) and it worked fine. Now I'm doing it for my friend who has a much larger (32 gig) mbox file. When I try to add it nothing seems to happen. When I restart Thunderbird I see a new folder under Local Folders (name of the mbox file) but nothing is there. Is there a limit on the mbox file

[2022-06-15 23:22] cleidigh opened #324 "v12.0.0 (TB 102) Release Status"
Release :

https://github.com/thundernest/import-export-tools-ng/blob/master/xpi/import-export-tools-ng-12.0.0-tb.xpi

Status :

- b1
- 102 compatibility
- Fix export directory save
- Remove SessionRestore for 102, bypass in 91, chk impl for #284
- fix pdf/printsettings changes
- b2- Fix SessionRestore race condition
- b3 - clean, EML export issue
- b4 -  multi platform fix for import issue
- v12.

[2022-06-15 23:45] cleidigh commented on #318
@TeslaMagic
I have started the new release for 102 Track:
- #324
@cleidigh

[2022-06-17 20:34] TeslaMagic commented on #324
I'm not sure if this is where I should reply to your question; "Also what pref did you change?"

The "Browse" buttons under "Export directories" do not function (at least in Linux). You can select a folder but it does not enter them into the dialog boxes. I've attached a screenshot showing the dialog box after I manually entered the directories into the TB prefs.js file.

Here are all the TB v91.1

[2022-06-17 23:49] TeslaMagic commented on #318
To reply to your question; "Also what pref did you change?"

The "Browse" buttons under "Export directories" do not function (at least in Linux). You can select a folder but it does not enter them into the dialog boxes. I've attached a screenshot showing the dialog box after I manually entered the directories into the TB prefs.js file.

I could manually copy the directory locations into the dialog

[2022-06-18 01:13] cleidigh commented on #318
@TeslaMagic
Thanks for the clarity.
I can reproduce the issue on Windows and also see the inability to set manually the single file field.
I will do my best to sove in v12, probably not a biggie.
@cleidigh

[2022-06-18 03:50] cleidigh commented on #318
@TeslaMagic
This turns out to be a duplicate of #275
Fortunately @jobisoft already fixed this.
I will post first beta including this shortly.
Track in #324
@cleidigh

[2022-06-18 04:17] cleidigh commented on #320
@TomFromBe
I am playing catch up.
Have you tried v11.1, it has many fixes for 91
@cleidigh

[2022-06-18 04:37] cleidigh commented on #314
@Scifisicko
Playing catch up.
Can you give version information
@cleidigh

[2022-06-18 04:45] cleidigh commented on #305
@SamAtlantic
Working on 102 support now, first beta soon.
Track here
- #324
@cleidigh

[2022-06-18 13:18] TomFromBe commented on #320
I have v 11.1 (note that the 'details'/description  still
        sais 'version 10.0.2 : Maintenance Release - November 14, 2020')

        But I had found the the but (and workaround).
        Issue:  If a folder A has subfolders, but folder A itself
        contain NO mails, then the subfolders are not shown
        when restored.
      Workaround: So i just added one mail to each
        (empty

[2022-06-18 18:07] TeslaMagic commented on #318
I tried to install v11.2 (TB91) (referenced in #275) into TB 91.0, way back, and it came up as incompatible. I disabled compatibility checking and it still would not install. Did manifest changes too. I tried with following TB releases with no luck, so I gave up.

Maybe I missed something. This doesn't really matter anymore since v12.0 is on its way.

[2022-06-22 23:26] JeffCoHale commented on #323
Thanks for the feedback. I was able to get around the issue by splitting my file into multiple small files.

[2022-06-25 18:01] TeslaMagic commented on #324
Not sure if this is of any help...

Import-Export-Tools-NG v11.2 does not function in Thunderbird candidates 102.0b8 or 102.0.

The v11.2 manifest.json "strict_max_version" error was corrected before installing.

The extension installed but there was no configuration (wrench) option. If you try export an email, as an example, there is no dialog other than Thunderbird's.

But, after updating the Im

[2022-06-25 19:16] cleidigh commented on #318
@TeslaMagic
There are several things for 102 I have fixed in the first beta.  I should be able to post later today.
@cleidigh

[2022-06-25 22:37] cleidigh commented on #323
@JeffCoHale
Excellent, I will close then.
@cleidigh

[2022-06-25 22:52] cleidigh commented on #318
@TeslaMagic
You can track and get the v12 beta from the release status issue :
- #324

This works in both 91 and 102
@cleidigh

[2022-06-29 15:34] ggbal commented on #320
That is the workaround. But this should be a bug, right?  In this case, it can't import correctly from its own export. Either export should create an empty mbox file for each folder when there is no email in that folder itself. Or the import should handle this situation.

[2022-06-29 21:34] cleidigh commented on #320
@TomFromBe
@ggbal
I am trying to see if this can be addressed in the v12 I am just about to release.
I did several small tests with folders with subfolders, but with no messages in the parent. Exported then imported fine.
So i cannot reproduce this.
Have either of you tried this with a test folder?
One thing I noticed in the screenshots from @TomFromBe is that I do not see an empty mbox file for t

[2022-06-30 02:50] ggbal commented on #320
I created test folders in Local Folders with one empty parent folder containing a folder that has one email. Export works correctly with the empty file for the parent folder.

However, when I created the same folder structure in the Gmail account in Thunderbird (which uses IMAP), the export doesn't generate the empty mbox file for the parent folder. See the screenshots attached.

I think you got t

[2022-07-01 04:16] cleidigh commented on #320
@ggbal
@TomFromBe
I  have a fix I believe, if you guys can test that would be very helpful.
I am surprised and concerned as this is non trivial and not reported until now.
https://github.com/thundernest/import-export-tools-ng/blob/v12.0.0/xpi/import-export-tools-ng-12.0.0-b3-tb.xpi

Thanks!
@cleidigh

[2022-07-01 04:37] ggbal commented on #320
I did some tests. It created the empty mbox. But the one for the root folder has the wrong name. it includes the parent folder name in it. See the screenshot.
<img width="398" alt="Screen Shot 2022-06-30 at 9 35 49 PM GMT-7" src="https://user-images.githubusercontent.com/19229418/176824315-eac50ffc-b5ce-4af0-a401-7e4c16db2023.png">

[2022-07-01 16:32] cleidigh commented on #320
@ggbal
ok we are close.  I exported my Gmail archives folder and it was ok.
I am not totally clear on your screenshot, looks like TB, but there are folders with the.sbd in the name which should ony show up in a file view.
Can you clarify?  I will try more tests and maybe come up with a common structure to test.
@cleidigh

[2022-07-01 18:02] ggbal commented on #320
You are right, I am using Mac. For the screenshot, the top folder I exported from TB is TestBug. And I export to the disk under a folder called Test

[2022-07-01 18:37] cleidigh commented on #320
@ggbal
here's the OS neutral version
https://github.com/thundernest/import-export-tools-ng/blob/v12.0.0/xpi/import-export-tools-ng-12.0.0-b4-tb.xpi
Hopefully I am correct
@cleidigh

[2022-07-01 19:31] ggbal commented on #320
Yes, it worked. Thanks for the quick turn aournd.

[2022-07-01 19:45] cleidigh commented on #320
@ggbal
Thanks for your quick testing!
So TBs  IMAP directorys in the profile have different behaviors than the local folders.
Imap directorys do not have an empty mbox file for empty folders, only an msf file.  This issue cannot be too old, I think TB may have changed this.
So a little cleanup and I can release.
@cleidigh

[2022-07-02 19:31] cleidigh commented on #320
Closed with v12

[2022-07-02 19:31] #320 closed

[2022-07-02 19:34] cleidigh commented on #318
Fixed with v12

[2022-07-02 19:34] #318 closed

[2022-07-02 19:36] cleidigh commented on #314
Fixed with v12

[2022-07-02 19:36] #314 closed

[2022-07-02 19:38] cleidigh commented on #305
Closed with v12

[2022-07-02 19:38] #305 closed

[2022-07-02 19:43] cleidigh commented on #322
@RomanoPauli
Can you give os/ietng version info
Does the inbox have subfolders?
@cleidigh

[2022-07-04 15:34] bmazak commented on #260
Just setup TB 102 and trying to import messages or all from the PST file that has a password on it.  Message from TB "no application found to import from".  Why are these problems still there from Aug 2021 and here we are in July2 2022.
I tried to make the PST file connected to a pop3 account and still does not find it.  Tried it with IMAP in Outlook 2010, still nothing.  Put the PST file in the d

[2022-07-04 18:32] #323 closed

[2022-07-04 18:43] cleidigh commented on #319
@iampowerslave
I am playing catch up...
Can you give version information and indicate if this is still an issue.
@cleidigh

[2022-07-04 19:19] ggbal opened #329 "Import incorrectly cut the message"
After I imported the mbox, I found there are a few new messages which have no subject. After further examination, I found there is no message header for those messages. In fact, they are supposed to be a part of the body of another message.

One of those instances that I can easily reproduce is shown below. Create a new message with the following body

<img width="1216" alt="image" src="https://us

[2022-07-04 19:32] ggbal commented on #329
I found a few other examples. They seem to share the same pattern. The body has a paragraph starting with the word "From". And that is where the import cut off the message.

[2022-07-04 20:31] cleidigh commented on #329
@ggbal
You are doing mbox export / import NOT eml correct?
@cleidigh

[2022-07-04 20:47] ggbal commented on #329
correct. mbox import and export

[2022-07-04 20:51] cleidigh commented on #329
@ggbal
Its a parsing error usually found with emls.
it is seeing From as a new message
@cleidigh

[2022-07-04 23:49] pivotman opened #330 "Save selected messages > PDF format .... now prints to default printer"
Hi,

I'm running Thunderbird 91.9.1 (64-bit) with ImportExportTools NG 12.0.0, all under Linux Mint 20.3 Cinnamon. Now any attempts to save an email as a PDF file result in the document being printed on the default printer instead. The dialog to set the output folder is not utilised, even if I change the default printer to a PDF device (cups-pdf:/).

This change has happened in the last day, proba

[2022-07-04 23:59] ggbal commented on #329
But the error above happened during the mbox import. I used Import-Export-Tools-NG for both export (mbox) and import (mbox) above.

[2022-07-05 03:13] jeron1 commented on #330
Hi, I am having same issue after an update today. Running tb 91.9.1 kde neon 5.25. I use import-export-tools-ng every day. Your work is appreciated.
Geoff

[2022-07-05 03:15] cleidigh commented on #330
@pivotman
I heard about some potential pdf issues,but not sure they are related.
You can roll back while I look into this.
@cleidigh

[2022-07-05 04:18] cleidigh commented on #330
@pivotman
@jeron1
I just did a quick check  Before crashing using my Mint 20.3 VM and a pdf save worked.  I will try some other things tomorrow and see.
@cleidigh

[2022-07-05 17:52] cleidigh opened #331 "v12.0.1 (Maintenance) Release Status"
Latest Beta:
https://github.com/thundernest/import-export-tools-ng/blob/v12.0.1/xpi/import-export-tools-ng-12.0.1-b1-tb.xpi

Status:

b1 - restore use of printToFile

[2022-07-05 18:03] cleidigh commented on #330
@pivotman
@jeron1
I am hoping that one change I made for PDFs due to 102 is the issue,
possibly only on Linux.
I can't reproduce it, but who knows...
Track v12.0.1 here:
- #331

Let me know.
@cleidigh

[2022-07-05 19:45] SamSxty commented on #305
You know I have to thank the open source community for doing this and working over the holiday weekend.

[2022-07-05 21:51] pivotman commented on #330
@cleidigh
Thank you very much for the quick reply and beta version. I'm thrilled to report that the problem is now solved! Cheers.

[2022-07-05 22:03] ggbal commented on #329
[Test.gz](https://github.com/thundernest/import-export-tools-ng/files/9049942/Test.gz)

[2022-07-05 22:28] cleidigh commented on #330
@pivotman
Excellent, thanks!
Not sure why I cannot reproduce, but I will take it.
My fix is really a reversion for 91 that I could not see.
I will wait for a bit to see what else pops up.
@cleidigh

[2022-07-05 22:52] cleidigh commented on #329
@ggbal
I  can reproduce the issue with your file.
It's what I suspected :
mboxrd, the specific type tb uses, needs to "munge" body lines that begin with From<space>
Your export did not have the From escaped.
All my test exports had a space added before the From and import correctly.
There are multiple tb bugs related to this.
Question is, is there any setup difference we have.

How did you create

[2022-07-05 23:01] ggbal commented on #329
I create the message in gmail. I used the "Export Folder" from Import-Export-Tools-NG menu from TB. There is no other add-on except this one.

I never exported that part of folder before. So yes, this is the first time I observed this.

[2022-07-05 23:05] ggbal commented on #329
Here is the message source in IMAP folder in TB if that can help

MIME-Version: 1.0
Date: Mon, 4 Jul 2022 12:05:48 -0700
Message-ID: <CAJjauHFYx8zevUGO=D0N9mUtq=yxkoLQQk4EXUropje9DgtN=Q@mail.gmail.com>
Subject: test
From: First Last <abc@def.com>
To: abc@def.com
Content-Type: multipart/alternative; boundary="0000000000008a788d05e2ff6cd5"

--0000000000008a788d05e2ff6cd5
Content-Type: text/plain; ch

[2022-07-05 23:57] cleidigh commented on #329
ya no space before the From.
I just emailed myself from Gmail and I get the issue.
I found if you copy the mail to a local folder then export that,it escapes the from with > Which will import ok

Try that
This may be tricky without creating other issues or really slowing down imports.
@cleidigh

[2022-07-06 01:49] ggbal commented on #329
Here is the interesting thing. I copied that message to local folder using "copy to" in TB. The message source shows the body below

--0000000000008a788d05e2ff6cd5
Content-Type: text/plain; charset="UTF-8"

Update from the local account team;

* This is to be confirmed in the coming days

* Latency issue

--0000000000008a788d05e2ff6cd5
Content-Type: text/html; charset="UTF-8"

<div dir="ltr"><pre>

[2022-07-06 21:29] cleidigh commented on #329
@ggbal
When I copied the msg from the IMAP folder to a local folder then exported the local folder, the resulting mbox had the from escaped with >
I was not clear if you had the same result.
There are several bugs logged on this in TB, however, they are effectively internal and marked as not to be addressed.
The storage in imap mbox files are not always escaped. It's not described when this occurs

[2022-07-06 22:46] ggbal commented on #329
Understood the balance between reliability and the fix.

When I did the same way you described, the resulting mbox from the local folder has not only the paragraph that includes ">From" but also the original paragraph that has no ">". The strange thing is that the message source from the email in the local folder only has the ">From" version of the paragraph. See the text I posted in the earlier m

[2022-07-06 23:21] cleidigh commented on #329
ya I could not tell given how gh displays things.
If you reimported the exported mbox was that msg ok?
I am trying to figure out is if I can reliably parse and fix the messages.
One approach is to fix on export.
Right now the export and import are both done as file copies with no processing, you can imagine the increased time to scan/fix/save.
I think doing it only on export would probably be opti

[2022-07-06 23:29] ggbal commented on #329
No, it doesn't work when I reimported the exported mbox.  Beccause of how the resulting mbox is, after reimporting, you have now one correct email plus two empty one. The screenshots below are from the reimported folder.

<img width="1156" alt="image" src="https://user-images.githubusercontent.com/19229418/177659527-a2ed9e6c-d79c-4b96-a8c3-8b5fff1ad68f.png">

<img width="1156" alt="image" src="htt

[2022-07-07 20:01] JHS33 opened #332 "Import/Export is stopping"
I had imported an mbox file from Google a couple of weeks ago and was able to generate HTML export with attachments very well, however I am no longer able to perform that same action.  I had thought it was because thunderbird had updated, so I updated thunderbird and installed the new version of import-export-tools-ng, but am not able to export.  It fails after a handful of emails (and there are t

[2022-07-07 23:32] JHS33 commented on #332
Hi thanks for your response,

Yes, that is the sequence, but can’t assure that I may not have changed some settings, when it stopped working, I tried to click on and off selections.

I am doing this in the local folders, and I carved out a smaller subset of the main file and attempted to run it on the smaller file.

So, I just tried it again, after closing Thunderbird and re-opening.  It begins to

[2022-07-07 23:40] JHS33 commented on #332
Oh, it is Windows 11

From: ***@***.*** ***@***.***>
Sent: Thursday, July 7, 2022 6:32 PM
To: 'thundernest/import-export-tools-ng' ***@***.***>; 'thundernest/import-export-tools-ng' ***@***.***>
Cc: 'Mention' ***@***.***>
Subject: RE: [thundernest/import-export-tools-ng] Import/Export is stopping (Issue #332)

Hi thanks for your response,

Yes, that is the sequence, but can’t assure that I may not

[2022-07-08 16:10] RomanoPauli commented on #322
The OS is Windows 7 /10 tried both. And yes the inboxes do have subfolders. I will get back the ietng version but it was the latest as a few months ago until then.

[2022-07-09 19:10] cleidigh commented on #330
@pivotman
@jeron1
v12.0.1 with this fix was just released last night.  You may have to manually update.
@cleidigh

[2022-07-10 04:06] jeron1 commented on #330
It works!! Thank you so much for the speedy update!

[2022-07-10 19:34] cleidigh commented on #330
@jeron1
Good to hear!
Will close up.
@cleidigh

[2022-07-10 19:34] #330 closed

[2022-07-12 08:44] wolfgangholzer opened #334 "Export causes huge file sizes"
When exporting selected mails via right-click, the result is a saved file size up to 25 times (!) the original file size.

Example:
When moving the mail to an open folder with the mouse, the resulting size is 300 KB.
When saving via ImportExport NG, the file size is 7.700 KB!
You can find both files attached.

Can you help?

[2022-07-12 19:26] cleidigh commented on #334
@wolfgangholzer
I will do my best...
Some extra info:
- OS, TB and IETNG versions
- What export operation were you doing
- have you tried similar exports for comparison
- when did this start
- anything changed when this happened
- I don't see any files

@cleidigh

[2022-07-13 05:10] wolfgangholzer commented on #334
Good morning/Guten Morgen!

OS: Windows 11 Home, 21H2
TB: 91.11.0 (64-Bit)
IETNG: 12.0.1 : Maintenance Release - July 8, 2022

Exporting selected mails via mouse right-click, saving in EML-format.
Tried with a single file, with 3-10, with many files.
All sizes increased.
Started approx. a month ago.
No changes noted.

Files are here:
[https://we.tl/t-yFowWlIJkf ](https://we.tl/t-yFowWlIJkf)

This

[2022-07-18 17:46] cleidigh commented on #329
@ggbal
I have been working on some experiments and I hope to have something rough to test shortly.
Basically a rewrite of the import to escape From in the message body.
It looks like I can do this with reasonable speed fortunately.
@cleidigh

[2022-07-18 17:49] ggbal commented on #329
That's great. Let me know when you need me to test your fix.

[2022-07-21 22:44] cleidigh commented on #329
@ggbal
I have a rough first pass for mbox import fixup.
Try doing a number of imports.
you can look at the console to see debug.
the last number is the escape fixes.
we should look for bad messages and also I have one scenario where all messages after a point were marked as read.
https://github.com/thundernest/import-export-tools-ng/blob/ioTests/xpi/import-export-tools-ng-12.0.2-t2-tb.xpi
@cleidig

[2022-07-23 11:55] wolfgangholzer commented on #334
Maybe my message dated 14.07. didn't reach you... let's try it this way.

How did you get the first/single email file?
I just moved it from my Thunderbird inbox to an open explorer folder with the mouse (drag + drop).

Where did you export from, imap, pop or local?
It's an IMAP mail account, but I exported from the local TB inbox folder.

What is the source of these emails, was any import involved

[2022-07-23 17:52] cleidigh commented on #334
@wolfgangholzer
Did you receive my test emails and comments?
I sent from test1@kokkini.net
@cleidigh

[2022-07-24 22:08] cleidigh commented on #329
@ggbal
Made some important fixes.
Also added some status bar info(not enough)
https://github.com/thundernest/import-export-tools-ng/blob/ioTests/xpi/import-export-tools-ng-12.0.2-t3-tb.xpi
@cleidigh

[2022-07-24 23:57] ggbal commented on #329
I tried this version. Have this error in the error console
16:54:32.655 Uncaught (in promise)
Exception { name: "NS_ERROR_FILE_TARGET_DOES_NOT_EXIST", message: "Component returned failure code: 0x80520006 (NS_ERROR_FILE_TARGET_DOES_NOT_EXIST) [nsIFile.isReadable]", result: 2152857606, filename: "chrome://mboximport/content/mboximport/mboximport.js", lineNumber: 562, columnNumber: 0, data: null, st

[2022-07-25 09:54] wolfgangholzer commented on #334
No, sorry, I did not receive any files.
Can yyou please send them to this address: wolfgang@holzer.co

[2022-07-25 18:42] cleidigh commented on #329
@ggbal
I am using some new file apis. I am wondering if I have a windows dependency I missed. I looked back and did not see what OS you are on, linux?
Did you see a console msg above that was the full path of the import mbox?
There should be some other output as well, I left a lot of debug in.
@cleidigh

[2022-07-25 21:26] cleidigh commented on #329
@ggbal
I think we may have a decent time diff so I posted what I believe to be a os path fix based on my interpretation of the error.
You can see below my output based on a 5MB mbox.
This mbox only has one From line listed as being escaped.
Your output will show debug for your file, but should look similar.
On my system I can do a 1GB mbox import in about 1min.
The from escape appears to work well

[2022-07-26 17:30] cleidigh commented on #334
@wolfgangholzer
I just re-sent the two emails.
So try the first exporting from inbox then from a local folder.
I also wonder what viewing the message source  Ctrl-U looks like.
@cleidigh

[2022-07-26 17:46] cleidigh commented on #334
@wolfgangholzer
Just had a spam bounce from your server.
Perhaps if you email me it will mark my address as good?
test1@kokkini.net

[2022-07-27 00:48] EdStauff opened #335 "export all messages / just index csv – doesn't export anything at all"
When I select "Export all messages in the folder" → "just index (CSV)", it asks me to specify a (file system) folder, which I do, but nothing appears in that folder.  It works for "just index (HTML)", but I need CSV.  I tried it both from the context menu of the Tb folder I want to export, and from "Tools" in the main menu bar.
Thunderbird version: 91.11.0 (32-bit)
ImportExportTools NG version: 12

[2022-07-27 02:44] cleidigh commented on #335
@EdStauff
I did a sanity check with my 91.11 and it looks good.
The export creates a folder under the selected folder. The folder is named according to the filename rules.  The index.csv file is then output to the folder.
If you don't see this then look at the debug console to see any possible output.
@cleidigh

[2022-07-27 11:58] vguogis opened #336 "Are customized attachment folder names possible (answer == yes)"
Hello,

It could be great to have an opportunity to customize folder names also. Here is my simple attempt to save attachments for plain text export at folders named as "Extended file name". Sorry, I'm not familiar with JS and programming for TB so just copied and changed part of code.

[code]

[2022-07-27 12:04] vguogis opened #337 "Feature request: detach attachments after save"
Hello,

Is here a way to detach all attachment files after saving them to folders?

[2022-07-27 18:27] cleidigh commented on #336
@vguogis
This is already supported for both attachment folder names and embedded image attachments.
The file name format follows the regular formatting except you have to configure in the Thunderbird config editor  accessed from the bottom of the general preferences.  There you can set
attachments.filename_extended_format
embedded_attachments.filename_extended_format

my settings shown in the scre

[2022-07-27 19:11] cleidigh commented on #337
@vguogis
Not sure what apis to do this are available, have to check it out.
@cleidigh

[2022-07-27 19:18] cleidigh commented on #319
@iampowerslave
Missed your response, so you are set, can I close?
@cleidigh

[2022-07-27 19:26] cleidigh commented on #324
Released

[2022-07-27 19:26] #324 closed

[2022-07-27 19:28] cleidigh commented on #331
Released

[2022-07-27 19:28] #331 closed

[2022-07-27 19:31] cleidigh commented on #322
@RomanoPauli
Is this still an issue?
@cleidigh

[2022-07-27 22:32] cleidigh commented on #334
@wolfgangholzer
ok i got no bounces so you should have our two test messages.
Let's compare exporting from inbox and a new local folder.
Q: Have you done any compacting or folder repair?
I ask because your scenario so far eludes some explanation. IETNG exports what TB gives it for a given message.
I'm wondering if the profile is somehow corrupted.

@cleidigh

[2022-07-28 06:55] vguogis commented on #336
Hi @cleidigh
Thank you very much! This is exactly what I was looking for.
Now I'm experimenting with	_[${date_custom} -${sender_email} +${recipient_email} =${subject}]_ format for a better file search by from/to/subject. At least it will be easy to use multirename if required.

[2022-07-28 17:47] cleidigh commented on #336
@vguogis
Great! I was hoping that solved your problem.
I'm limited in my development so I just have not been able to make the UI additions.  I have some other hidden things like hot keys, but they are listed in the help...
I will create an issue for adding this and you can track the progress.
@cleidigh

[2022-07-28 17:56] vguogis commented on #336
@cleidigh
Sometimes is good to learn about hidden featues. It's solved for me but I believe this option could be very useful for someone else too.

[2022-07-28 18:01] cleidigh commented on #336
@vguogis
Yes, curious, did you use the help at all? I may need a help button other than just question marks...
@cleidigh

[2022-07-28 18:04] vguogis commented on #336
@cleidigh
Yes, question marks for help are good for me, I have clicked to look what's inside.

[2022-07-29 18:28] iampowerslave commented on #319
Im set. Thanks!On Jul 27, 2022 16:18, Christopher Leidigh ***@***.***> wrote:
@iampowerslave
Missed your response, so you are set, can I close?
@cleidigh

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-30 02:01] cleidigh commented on #336
@vguogis
Well here is something for your weekend, I took some time off bug work.
As the first beta user you get to give feedback on the ui.
It's not localized yet. Greek I think? ( I'm Greek by marriage)
Im debating what I should have as defaults, original like " Attachments"
or something with the tokens as example.
Thoughts?

https://github.com/thundernest/import-export-tools-ng/blob/v12.0.2/xpi/

[2022-07-30 05:54] vguogis commented on #336
Hi @cleidigh
Unfortunately I can't load this file. about:addons says it's damaged.
I will take a look at localization files after. At the moment I use English version.

[2022-07-30 16:29] cleidigh commented on #336
@vguogis
I had another user with a corrupt download. If I recall he used a different browser, but I am not sure. I tried downloading now with Chrome and it was fine.
Don't worry about localization, in fact this gives me the excuse to add the lt locale!
Hopefully you can figure out the download issue, btw i distribute the betas this way without any problems Sometimes just glitches .
@cleidigh

[2022-07-30 18:19] vguogis commented on #336
@cleidigh
Good, downloaded with Chrome. The problem was with direct download from TB.

[2022-07-30 18:38] cleidigh commented on #336
ah good
let me know what you think
@cleidigh

[2022-07-30 18:49] vguogis commented on #336
@cleidigh
Looks good. I already checked for custom folder naming fields. And I like flexibility of tokens usage - even custom date it is possible to format.

[2022-07-30 18:56] cleidigh commented on #336
yes I spent a bunch of time on on the tokens and date features.
Great, it was time to get these exposed.

@cleidigh

[2022-07-30 20:52] cleidigh opened #338 "v12.0.2 Maintenance / Minor Release Status"
v12.0.2 is in the review Q

Latest Beta:

https://github.com/thundernest/import-export-tools-ng/blob/v12.0.2/xpi/import-export-tools-ng-12.0.2-b8-tb.xpi

Status:
- b1
- Reorganize Filenames tab
- Add/expose attachment extended folder naming
- #336
- b2
- Fix att folder name escaping
- #339
- Fix toggle of filename type
- b3
- Add debug for export structured for
- #296
- b4
- Implement new exportAc

[2022-07-30 22:01] ggbal commented on #329
I am in macOS

[2022-07-30 22:02] ggbal commented on #329
I will try the new bits tomorrow and let you know what I find out.

[2022-07-30 23:48] cleidigh commented on #329
@ggbal
Great
Try the latest, t5
it has more real time output and debug.
It also marks all msgs unread - will make this an option.
You can see the escapes in the console.
@cleidigh

https://github.com/thundernest/import-export-tools-ng/blob/ioTests/xpi/import-export-tools-ng-12.0.2-t5-tb.xpi

[2022-08-01 07:44] ggbal commented on #329
I tested. It seems ok to me.

[2022-08-01 07:52] vguogis opened #339 "Attachment folder names need file char escaping"
Hello,

Sometimes exporting a folder or bunch of messages to plain text with attachments breaks. I have catched single message of this type, but not sure why it breaks. Couple of messages were exported till this message was reached. Then routine breaks. Please find it as Mbox file in attachment.

[test.zip](https://github.com/thundernest/import-export-tools-ng/files/9231945/test.zip)

[2022-08-01 07:56] vguogis commented on #339
And here is another one which breaks.

[test2.zip](https://github.com/thundernest/import-export-tools-ng/files/9232020/test2.zip)

[2022-08-01 08:24] ggbal commented on #329
The option I tried above is "import directly one or more mbox files". I tried it in my original export. The whole mbox file went through fine, including the message that has the problematic "from" line in the body. Then I tried to use the 2nd option "import one or more mbox files, with its/their subdirectory". This time, I got the error messages below.

Is your new code only available in the first

[2022-08-01 16:06] vguogis commented on #339
Maybe as a hint - it looks like a message to undisclosed-recipients could break the routine. My pattern for extended filename and folders is _${date_custom}_-${sender_email}_+${recipient_email}_=${subject}_

[2022-08-01 16:28] cleidigh commented on #329
@ggbal
yes, should have mentioned that. This is a significantly different approach and I have to add the new plumbing for multiple mboxes. Not a huge deal, just wanted to prove out the mechanism.
Have you tried any larger mboxes?
@cleidigh

[2022-08-01 19:27] ggbal commented on #329
Yes, I tried one 190MB mbox. It worked.

[2022-08-02 01:31] cleidigh commented on #339
@vguogis
Your hunch was correct 🥇
The attachment folder naming lacked the illegal character escaping (with _ )
The undisclosed recipients has a colon, semicolon at the end.
The colon needs escaping.
Note, this may change your search logic.
I also fixed a ui issue toggling the formats.

https://github.com/thundernest/import-export-tools-ng/blob/v12.0.2/xpi/import-export-tools-ng-12.0.2-b2-tb.xpi

@

[2022-08-02 01:49] cleidigh commented on #329
@ggbal
Great
I will work on the multiple mbox import
@cleidigh

[2022-08-02 04:46] vguogis commented on #339
@cleidigh
Thank you, just tested with emails to undisclosed-recipients and it works as expected.

[2022-08-02 18:46] cleidigh commented on #296
All
I am working through things catching up from my personal hiatus.
You can track the upcoming maintenance release here:
- #338

With win10, TB91.11 and IETNG 12.0.1 I can successfully export with structure.  Can we further define and diagnose the issue?
@cleidigh

[2022-08-02 18:56] tomsaul commented on #296
The issue is still present in TB 102.  Win 10 and IETNG 12.0.1.  I have a mix of POP3 and IMAP accounts, and when I last tested none of them work as expected.  I get the base folder export, but no SBD file with the sub-folders.

[2022-08-02 19:09] cleidigh commented on #296
@tomsaul
Ok so our setup on Windows matches up.
I have not done a POP test lately, but you have issues with IMAP as well.
Let's start with the simplest scenario and I presume I will need some debug to find the difference we have.
Are you transitioned to 102?
There were several issues with MSF files so I would prefer to try and work on that other wise we have an experiment with two variables.
@clei

[2022-08-02 19:15] tomsaul commented on #296
TB Ver is 102.1.0 (64 bit).  I just checked and it still occurs in all account types.  Let me know what info you need.

[2022-08-02 19:19] cleidigh commented on #296
@tomsaul
So i assume we need to work with 102.
Have you looked at the console output for any errors?
@cleidigh

[2022-08-03 00:23] tomsaul commented on #296
I'm not really familiar with the tool, but at first glance zero output when I trigger the export.

[2022-08-03 00:48] cleidigh commented on #296
@tomsaul
ok that's surprising
I will add some debug so we can see where it goes south.
I will post when I have something.
@cleidigh

[2022-08-03 21:40] cleidigh commented on #296
@tomsaul
Grab b3 from
- #338

Open and clear the log
Do a simple export with just a couple of subfolders
Use right click /copy all and post as a txt file
@cleidigh

[2022-08-03 21:47] tomsaul commented on #296
Do you use Discord - if so hit me on TomS#972209 (remove the nine's)

[2022-08-03 21:57] cleidigh commented on #296
@tomsaul

It looks like you are exporting at the server level versus a folder level.
Of course I did not add debug there.
Have you tried a folder under the server or am I missing something?
@cleidigh

[2022-08-03 22:02] tomsaul commented on #296
Here is a Folder export dump.  With that said, the problem I have had is at the server level.

15:00:34.534 Start: ExportFolders (mbox) [mboximport.js:768:10](chrome://mboximport/content/mboximport/mboximport.js)
15:00:34.535    Subfolders: true [mboximport.js:771:10](chrome://mboximport/content/mboximport/mboximport.js)
15:00:34.535    Structured:  true [mboximport.js:772:10](chrome://mboximport/

[2022-08-03 22:38] cleidigh commented on #296
@tomsaul
So we have an error trying to get a unique dest name.
odd, will have to add debug there.
The src says INBOX-1 did you name it that?
Can you create and export a folder UNDER inbox with a couple of subfolders.
I am wondering about the root folder somehow being the issue.
Ill think about more debug.
@cleidigh

[2022-08-03 22:44] tomsaul commented on #296
Here is log with export of subfolder with sub-folders

15:44:06.190 Start: ExportFolders (mbox) mboximport.js:768:10
15:44:06.191    Subfolders: true mboximport.js:771:10
15:44:06.191    Structured:  true mboximport.js:772:10
15:44:06.191    Local:  true mboximport.js:773:10
15:44:06.192    Zip:  false mboximport.js:774:10
15:44:06.192
Array [ XPCWrappedNative_NoHelper ]
mboximport.js:775:10
15:44

[2022-08-03 22:54] cleidigh commented on #296
Good, that's baseline.
So we should be able to export inbox (moving up)
Make sure to export to an empty dir
btw my eye gaze is locking up so if i dissappear that is why...

[2022-08-04 16:07] tomsaul commented on #296
Here is the dump starting at 'Inbox' - seems to be correct output for this as well

09:06:19.060 Start: ExportFolders (mbox) mboximport.js:768:10
09:06:19.061    Subfolders: true mboximport.js:771:10
09:06:19.061    Structured:  true mboximport.js:772:10
09:06:19.061    Local:  true mboximport.js:773:10
09:06:19.062    Zip:  false mboximport.js:774:10
09:06:19.062
Array [ XPCWrappedNative_NoHelper

[2022-08-04 16:35] cleidigh commented on #296
Good, that was what I expected.
The account export has a different execution method and I can see it's broken.
I believe I know where so I will work on that.
Thanks for the quick testing!
@cleidigh

[2022-08-05 07:14] wolfgangholzer commented on #334
All files as explained in my email:

I moved mail 1 to a local folder, called "CL (Test TB).
[Test email 1 & 2.zip](https://github.com/thundernest/import-export-tools-ng/files/9266281/Test.email.1.2.zip)

The exported it to mbox, html, eml.

Mail 2 has been exported directly from the inbox.

All mails seem to stay very small.

[2022-08-05 19:24] cleidigh commented on #334
@wolfgangholzer
I believe you are correct, there is nothing rythmic or mathematical about the issue.
I am not sure if you tested single emails from inbox?
As I think I said before I am beginning to think it's a corrupt database or msf files.
That said I always want to proceed with caution.
Have you done "folder repair" under folder/properties?
This may fix some issues, but I would want you to have

[2022-08-05 21:20] cleidigh commented on #296
@tomsaul
Did a new exportAccount using IOUtils the new file api.
Looks good, but need polyfill for TB91 and cleanup.
Grab b4 from
- #338
@cleidigh

[2022-08-06 22:17] tomsaul commented on #296
Some progress, but it will take me some time to confirm full function.  I now see the export occur, including the SBD folders, but all the MSF files are zero bytes long (when there are emails in the respective folder), and offhand I am not seeing MBOX files for all the folders with mail in them (but they might be somewhere less obvious).  And FWIW - the content is very different than what I saw in

[2022-08-06 22:56] cleidigh commented on #296
@tomsaul
I am just about done with the required polyfill for 91.
I zero out the msf files, they are rebuilt if imported.
All my tests include all mboxes as a deep copy is done so missing files would be concerning.
I don't understand your statement about "content"
@cleidigh

[2022-08-09 06:38] wolfgangholzer commented on #334
Good morning Christopher! (yes, this is Europe :-)
Testmail 2 has been exported directly from inbox.
I did not start folder repair yet.
Now, I copied all TB data files to have a backup. Then restarted TB, chose "folder repair" for my main folder, and one of the local folders.
After this, the export from the local folder resulted in CORRECT file sizes for approx. 50 mails!

At last, I copied 10 mai

[2022-08-09 16:57] cleidigh commented on #334
Wolfgang, Guten morgen
Some Progress!
Ok repairing the local folder worked, but I was not clear on inbox. Did you repair inbox?
The total approach here would be to delete all msf files in the profile tree while TB is shutdown then restart and you can compact the folders.
I am hoping this works.
@cleidigh

[2022-08-20 03:06] cleidigh commented on #329
@ggbal
Fyi, this became a major rework, still on it...
@cleidigh

[2022-08-21 21:23] Dominiq34 opened #340 "Problem with eml import"
I cannot import any elm messages from Windows Mail. In the menu, any options concerning eml import are inactive. I have Thunderbird 102, and the newest release of import-export-tools. Windows 10

[2022-08-21 22:38] cleidigh commented on #340
@Dominiq34
Just checked 102.1.2 with IETNG 12.0.1
When right clicking on the import folder you get import messages in the context menu for eml messages.
is that the method you are using?
@cleidigh

[2022-08-24 07:12] librelegal opened #341 "export message as eml using a key command (tbkeys)"
As a long standing user of https://github.com/thundernest/import-export-tools-ng/ I need to export messages very often. To do this I need to "walk" along the selected message by mouse and chose export as eml, then the folder (desktop folder). The file name is then as set in https://github.com/thundernest/import-export-tools-ng, at the moment the file name is "name of recipient - reference - date.e

[2022-08-24 15:04] librelegal commented on #341
There is progress: Will Skanks showed me the right way (see https://github.com/wshanks/tbkeys/issues/108).

[2022-08-25 00:07] cleidigh commented on #341
@librelegal
Good to see you back.
How are you progressing?
There is also a hidden set of hotkeys in IETNG (see end of help)
@cleidigh

[2022-08-25 23:06] cleidigh commented on #329
@ggbal
I finally have t6 which implements the From escape for all mbox imports including with structure and has progress output

https://github.com/thundernest/import-export-tools-ng/blob/ioTests/xpi/import-export-tools-ng-12.0.2-t6-tb.xpi

@cleidigh

[2022-08-26 03:04] ggbal commented on #329
I tried this. It failed with the error message
Uncaught (in promise) DOMException: Could not get children of file(/Volumes/Topdir/Email Backup/Test/Test Org) because it is not a directory

[2022-08-26 07:09] librelegal commented on #341
Yes, the issue can be closed, thank you.

[2022-08-26 15:34] cleidigh commented on #329
@ggbal
Well that did not go as expecte. Was your import including subfolders?
I have to add more debug, so many variables
@cleidigh

[2022-08-26 15:35] ggbal commented on #329
No. It is a single mbox file. The file I sent you last time.

[2022-08-26 15:35] #341 closed

[2022-08-26 15:40] cleidigh commented on #329
and you were importing into a created folder under Local Folders?
What was the line number of the error?
@cleidigh

[2022-08-26 15:55] cleidigh commented on #329
@ggbal
Would you be able to post the entire log? I think I can learn more

[2022-08-26 16:20] ggbal commented on #329
`09:17:36.615
Unexpected event profile-after-change [URLQueryStrippingListService.jsm:224](resource://gre/modules/URLQueryStrippingListService.jsm)
09:17:37.409 Uncaught (in promise) undefined
09:17:37.644
Unknown Collection "thunderbird/query-stripping" [RemoteSettingsClient.jsm:160](resource://services-settings/RemoteSettingsClient.jsm)
09:17:39.252 Successfully loaded OpenPGP library librnp.dyl

[2022-08-26 16:43] cleidigh commented on #329
@ggbal
That already helped, thanks.
For The output you posted did you choose a single mbox or a directory?
It looks like an unexpected return from the file picker.
Appreciate the help.
@cleidigh

[2022-08-26 17:01] ggbal commented on #329
Single mbox

[2022-08-28 22:01] cleidigh commented on #329
@ggbal
So shame on me assuming the filepicker would be consistent...
I was able to get my mac up for testing.
Here is t7
https://github.com/thundernest/import-export-tools-ng/blob/ioTests/xpi/import-export-tools-ng-12.0.2-t7-tb.xpi
@cleidigh

[2022-08-29 00:46] ggbal commented on #329
I can confirm it fixed the problem.

[2022-08-29 06:15] cleidigh commented on #329
@ggbal
That's better.
Thanks for the testing help, this will come out in the next release.
@cleidigh

[2022-08-29 15:55] JLuc opened #342 "Fail on accenctuated folder names"
"Spam" folder is "Indésirable" on a french langage TB
and "Models" (mails to be used as prototypes) is "Modèles"
and "Sent mails" is "Envoyés".
These standard folder names have accents in french ... and dont export well :
when exported these are copied as
- "Ind_sirables", "Mod_les" files and "Envoy_s" files
- these are empty (=0 byte) files.

And export stops and is limited to very few folders.

[2022-08-29 18:57] cleidigh commented on #342
@JLuc
Thanks for the post.
Can you describe the type of export and what folders you were exporting.
Also the versions for os, tb and IETNG.
@cleidigh

[2022-08-29 20:06] cleidigh commented on #342
@JLuc
I am assuming you are exporting folders to mbox files perhaps at the account level with structure?
Your first issue with the accents  being replaced with '_' should be because the option "Use only alphanumeric characters for filenames" in French :
Utiliser juste 'alphanumérique lors du simple exports de fichiers
This option replaces all non basic ascii characters with the underscore for comp

[2022-09-02 10:57] Carmina16 opened #343 "Cannot import some EML"
In version 10.0.4, some WLM messages cannot be imported. The Error console contains many error messages like this:
`FirstLine x-store-info:sbevkl2QZ (more base64 content follows)`

[2022-09-02 11:04] Carmina16 opened #344 "Subfolder import fails for some folders"
Import from WLM message store works inconsistently. Some folders do not get imported at all, like this before:

`<import from here>\Storage Folders (2)\Xxxxxxxxxxx xxx\xxxxxxxxx xxxxx\xxxxxxxx\Xx xxxx\XXXXXXXX-XXXXXXXX.eml`

It works when imported directly, so there must be some traversal error.

[2022-09-02 19:27] pdolc opened #345 "Can't Import Directory Structure"
For email accounts with folders and subfolders, export creates a files structure of '.sbd' folders and email files. That looks right. But none of the import options recreates the same structure and/or populates the subfolders with emails. Either it flattens the entire folder structure, or doesn't populate the subfolders. My use case is: 1) I work on a project (e.g. "ProjectX") where someone gives

[2022-09-02 22:33] cleidigh commented on #345
@pdolc
Thanks for the post.
With TB102 and IETNG 12.0.1 you should be able to do the following :
- Export your tree to structured mboxes (i think you have this)
- For importation choose Import mbox
- In the dialog choose the second option import with structure
- in the file picker choose the top mbox file, the sbd tree will then be imported.

I am currently working on a rewrite of this with more p

[2022-09-02 23:04] cleidigh commented on #343
@Carmina16
Can you indicate OS, tb and IETNG versions.  If possible can you post a non personal eml that fails with the full console output.
if you can't post you can email to me:
test1@kokkini.net
@cleidigh

[2022-09-03 02:54] cleidigh commented on #344
@Carmina16
Can you give some more detail perhaps an exact path, console info etc
@cleidigh

[2022-09-05 09:41] Carmina16 commented on #343
Seems to be fixed in 12.0.1

[2022-09-05 09:41] #343 closed

[2022-09-06 15:41] dindoun opened #346 "problem with use then auto repaired"
Hi,
I had installed import-export-tools-ng long time ago without use
I needed it today, but it has disappeared from tools menu ( outils in french )
I tried update , nothing
I uninstalled then install : nothing
I uninstalled then install : the menu is back

(Thunderbird 91.13.0)

[2022-09-06 16:52] cleidigh commented on #346
@dindoun
Sorry for the confusion.
As I understand now you are all set and working?
Sometimes updates just have issues.
Doing a restart after uninstall is usually a good thing to do.
@cleidigh

[2022-09-06 22:51] pdolc commented on #345
Really appreciate the reply, but the fourth bullet in your suggested direction doesn't really work as you describe. When I choose the 2nd option (import with structure), I *do* get a file picker, but when I select the top-level directory (the directory that contains the export), it just opens that top-level directory and shows me the content, and wants me to pick from within the directory. There's

[2022-09-07 00:22] cleidigh commented on #345
@pdolc
With option 2 you are choosing one or more mbox files, if these have sbd directories they are imported recursively. The fourth option is something I am working on.
I think maybe you would like the directory import which you might consider "top level"
Does that work for you?
@cleidigh

[2022-09-08 23:35] tzx opened #347 "Import/export status indicator?"
I am trying to export a 8GB folder and it takes a while (It even lags my computer). Is there not an indicator that tells me the progress or when it is done exporting?

I am using Thunderbird 102 on Linux if that matters.

[2022-09-12 18:22] cleidigh commented on #347
@tzx
Thanks for the post.
I am currently doing some major rewriting mainly to update original code and also to improve feedback just as you suggest.
Depending upon your specific need my beta may be helpful.
Are you exporting to mbox? That's what I am working on.
Also when you say 8GB is that a single mbox folder or the total for all subfolders?
@cleidigh

[2022-09-13 00:57] tzx commented on #347
@cleidigh Thanks!

I am not exporting to mbox. I am exporting an folder as single files (.eml). 8GB is the total for a single folder (It has no subfolders) -- I am using maildir.

[2022-09-13 22:27] cleidigh commented on #347
@tzx
I'm glad you had success.
I have not ever tried 8GB of maildir.
We should report status, it is in eml export under mbox, will check.
@cleidigh

[2022-09-14 19:11] tehmasterer opened #348 ""Export all the folders" with an IMAP account is not up-to-date. Highlighting multiple folders and choosing "Export remote folder" only exports the first."
Greetings,

I didn't want to create 2 issues, as the second is pretty minor, though I feel like it's a bug.

# Issue 1:

I am trying to backup an IMAP account from an ISP before it's closed. When I choose **"Export remote folder"** on the email account name, it gives me this message:

The local folder could not have all the messages present in remote folder.
Are you sure you want to continue?**

I

[2022-09-15 11:53] philbusby opened #349 "Export "folder name" from multi folder searches required"
This is an excellent tool. Thank you.

An export of a **search** of multiple folders works much like an export of a normal email folder. However, a search of multiple folders includes a **folder column** in the results, which is not exported by any of the export-tools-ng options.

For example, a search of two email folders will list all emails in those two folders that match the search terms and t

[2022-09-15 18:09] leerjet1876 commented on #264
Right click on "Local Folders". Export all the folders does the same thing as Export all the folders (with structure).  T-bird v91.10.0. Bottom line is the structure under Local Folders is lost.

[2022-09-17 22:58] cleidigh commented on #349
@philbusby
If I understand correctly what you are seeking is an additional column in the index file?
@cleidigh

[2022-09-17 23:06] cleidigh commented on #348
@tehmasterer
Right now I am working on several update issues.
If you are trying to export at the account level I have a beta which addresses this.
@cleidigh

[2022-09-19 10:05] fvanmaele opened #350 "`From:` field silently dropped on `eml` export"
This happened to me with certain outlook where `From:` looks like this:
[code]
the exported `eml` only has:
[code]
I've attached the email exported by Thunderbird and the one from import-export-tools.

[sample_email.zip](https://github.com/thundernest/import-export-tools-ng/files/9597955/sample_email.zip)

[2022-09-19 16:25] cleidigh commented on #350
@fvanmaele
Thanks for the post.
From lines have issues as they are used as message delimiters.
I am currently working on several improvements and rewrites in this area. This has not been reported thus far.
Couple of questions to help me :

You referred to Outlook above, how does this relate to a TB export?
Can you id the OS, TB and IETNG versions.
@cleidigh

[2022-09-19 21:12] fvanmaele commented on #350
Hi, thanks for the quick reply. I use Thunderbird with an outlook.de
account, containing the mentioned emails. I exported the emails with IETNG.

Versions:
OS: Windows 10 21H1 19043.2006
Thunderbird: 91.13.0 (32-Bit)
IETNG: 12.0.0

On 9/19/22 18:25, Christopher Leidigh wrote:

[2022-09-19 22:05] cleidigh commented on #350
@fvanmaele
Thanks.
I should have asked also if this message always exports without the From or is it inconsistent. Are there other messages that do this?

I will try to reproduce, however, I cannot reproduce your environment exactly so we will see.
@cleidigh

[2022-09-19 22:26] fvanmaele commented on #350
The message exports consistently as described. It also occurs with
messages with a similar From: field (long address placed on a separate
line, below From: Name).

I have not observed the behavior with other messages (shorter address
placed directly after From: Name).

Am 20/09/2022 um 00:05 schrieb Christopher Leidigh:

[2022-09-19 22:33] cleidigh commented on #350
ok
How about if you copy the email to a local folder then export from there?
The db may have an issue that might be corrected with a copy.
@cleidigh

[2022-09-19 22:48] fvanmaele commented on #350
When I copy the email to a local folder, the following fields are appended:

X-Mozilla-Status: 0001
X-Mozilla-Status2: 00000000
X-Mozilla-Keys:

and the export with IETNG is correct.

When I place the message in the outlook mailbox, the fields above are
not appended, and the export drops the From field as mentioned before. I
have also tested with a different mailbox and a new Thunderbird profile
w

[2022-09-19 22:55] cleidigh commented on #350
Good that gives us some more clues. I have to try some experiments.
@cleidigh

[2022-09-20 22:13] cleidigh commented on #350
@fvanmaele
I cannot find a way to get the email into my system. Anything that gets modified like an import does not help.
I have one other test idea.
If you can make a test folder (under imap) with another non private message plus the message in question - now see if exporting from there still produces the problem.  If so I can help you grab that mbox and I may be able to get that into my system.

[2022-09-22 04:08] davemosk opened #351 "PDF export fails on TB 102.2.2 Linux - [Beta fix]"
Attempting to export a single message to PDF fails on TB 102.2.2 on Linux. it fails silently, without any error indication - just no file exported. I'm happy to provide more info, just tell me what you need.

[2022-09-22 04:12] davemosk commented on #351
![image](https://user-images.githubusercontent.com/2114157/191656819-c4e02ff7-4f23-42de-b491-ed085a36ecfd.png)

[2022-09-22 18:24] cleidigh commented on #351
@davemosk
I will fire up my Mint vm...
In the meantime can you id the IETNG version?
Also can you confirm other operations work such as eml export.
Did this work previously?
@cleidigh

[2022-09-22 21:24] davemosk commented on #351
I'm on IETNG 12.0.1 - thanks for looking into this!

[2022-09-22 22:49] cleidigh commented on #351
@davemosk
So my sanity check on Mint 23, IETNG 12.0.1, TB 91.11 works.
I forgot that the last rev was specifically to address pdf output on *nix platforms. I suspect some driver change. I will see about 102.2
@cleidigh

[2022-09-23 01:07] davemosk commented on #351
Thanks so much @cleidigh

[2022-09-23 17:13] cleidigh commented on #351
@davemosk
When you stated above about working in a previous version did you mean a prior version of TB or IETNG.
I ask because it looks like TB internal pdf driver is at issue so this makes it a lot more ambiguous to solve.
@cleidigh

[2022-09-23 21:38] davemosk commented on #351
I believe the update to the new version of TB triggered the add-on upgrade. Is there any more info I can gather that would help?

[2022-09-25 20:18] cleidigh commented on #351
@davemosk
Thanks.
Since I can reproduce it i have what I need for now.
It works in Windows and so I already can see it's inside the print engine on Linux, probably OSX, have to check.
I have to look at a workaround, I am working on that, but it won't be a quicky.
I will post something when I have it.
@cleidigh

[2022-09-26 16:17] cleidigh commented on #349
@philbusby
Still some clarification :
There are two outputs where the folder name could be added, to the html index or the csv output. Reading your OP I think you want the csv addition.
If that is correct let me make an assessment.  Of course as open source you can always modif for your use, but that would probably require more effort without all the addon background.
@cleidigh

[2022-09-26 18:31] cleidigh commented on #349
@philbusby
So here is the output adding the full msg URL.
This is a header field I have easily.
The URL has the type, full account /server, folder and message #
Since it would be possible for multi account searches to be performed, this fully qualifies the message. You can parse whatever in the spreadsheet.
Let me know what you think then we can refine.
@cleidigh

[code]

[2022-09-27 10:25] fvanmaele commented on #350
Sorry for the delayed response. I made a test folder as requested. Exporting from there (`ImportExportToolsNG > Export all messages in the folder > EML format`) still produces the problem - however, the sender is partially displayed in the generated `index.html`.

I'm attaching the mbox of that folder and the exported output.
[test.mbox.zip](https://github.com/thundernest/import-export-tools-ng/fi

[2022-09-29 19:52] davemosk commented on #351
Thanks @cleidigh !

[2022-09-29 21:39] cleidigh commented on #351
@davemosk
So i am down the rabbit hole...
No luck yet. I am crossing my fingers as Save to pdf works through the ui.
@cleidigh

[2022-10-05 22:18] cleidigh commented on #351
@davemosk
Well you probably were giving up on me, but I have been working on this nonstop.  I actually was giving up this morning when I had one more try.
It was a buried TB change that crossed windows and Linux.
This is beta I have some more things to do before I will release.
https://github.com/thundernest/import-export-tools-ng/blob/v12.0.2/xpi/import-export-tools-ng-12.0.2-b6-tb.xpi
@cleidigh

[2022-10-05 22:38] davemosk commented on #351
@cleidigh
I never gave up on you mate, I know you're super busy. I've installed the new xpi and it works like a charm! Profuse thanks!
Let me know if you'd like me to do further testing before you release.
With gratitude and warm regards - @davemosk

[2022-10-05 23:57] cleidigh commented on #351
@davemosk
Thanks for testing, excellent!
I will post subsequent beta.
This was a big relief as this is a key feature. I am going to add some progress output that has been sorely missing.
Reviews are always welcome  ;-}

@cleidigh

[2022-10-06 16:55] cleidigh commented on #349
@philbusby
Did you see my example above? Are you still interested in this?
@cleidigh

[2022-10-06 17:58] cleidigh commented on #350
@fvanmaele
I got sidetracked with a critical pdf bug...
I reproduced it!
I can get the same export results now.
I will look at debug results.
From my experience this is an odd format.
@cleidigh

[2022-10-06 22:25] cleidigh commented on #350
@fvanmaele
I tracked it down, here is a beta, it successfully exports your email on my system.

https://github.com/thundernest/import-export-tools-ng/blob/v12.0.2/xpi/import-export-tools-ng-12.0.2-b7-tb.xpi

@cleidigh

[2022-10-06 22:51] fvanmaele commented on #350
I can confirm the beta version fixes my issue.  Thank you very much!

[2022-10-06 22:51] #350 closed

[2022-10-06 23:22] cleidigh commented on #350
@fvanmaele
Excellent, thanks for testing so quickly!
Watch #338 for the release status. Reviews always appreciated  ;-}
@cleidigh

[2022-10-07 15:47] cleidigh commented on #349
@philbusby
The example above is a csv export with a new field that includes both the account and folder. As you can see their are different folders because I exported from a search
I thought that is exactly what you were looking for?
@cleidigh

[2022-10-07 18:28] philbusby commented on #349
You seem to be only exporting **folder names**, whereas I am exporting messages from search folders. Perhaps you misinterpreted my phrase "An export of a search of multiple folders". What I meant was a **search** is made up of emails that are in **multiple folders** (which are selected in the search configuration). This is why I want to **export the location field**, as it is the only way that I k

[2022-10-07 18:48] cleidigh commented on #349
@philbusby
Yes I think we are still not completely understanding each other, but I think we are close.
I will describe what I believe you want AND what I have done experimentally. I will only comment on the csv as you only now mentioned mbox which is a completely different animal.

- You need to use export to csv, comma separated values, text encoded
- The current fields do not include the source

[2022-10-08 08:34] philbusby commented on #349
OK, yes. You seem to have described exactly what I am looking for. I appreciate that csv/mbox exports are very different animals to the programmer, but to the layman these are just options on the import-export-tools-ng menu. I export to csv to create the WordCloud and I export to mbox which would be linked from the WordCloud.

Mea culpa! Was your csv output above listing messages? if the #_number_

[2022-10-09 19:28] cleidigh commented on #349
@philbusby
Yes please give b7 a go And confirm it meets your goal.
For a release I will add a preference that can toggle the additional column. For now this would not be in the UI it would be set with the preference editor.
I appreciate your comments on IETNG. I am not the original author, however, I took it over around four years ago specifically because I was a user and as the #1 addon it was cr

[2022-10-10 01:01] atmelino commented on #351
This fixed it for me on Ubuntu 22.04 as well!
Thank you so much!

[2022-10-10 16:19] cleidigh commented on #351
@atmelino
Great.
Watch for the release here :
- #338

@cleidigh

[2022-10-10 22:53] cleidigh opened #352 "Add Dark mode theme support"

[2022-10-11 09:42] philbusby commented on #349
b7 provides exactly what I need for exporting the folder location to "spreadsheet (csv)".

The export to mbox still does not export the folder name and the folder column in the mbox emails is empty. This would be useful, but **not essential**, as B7 has provided the folder information in the index export.

It would be **useful** to have the mbox exporting the folder name too though! I do see the c

[2022-10-17 21:07] #346 closed

[2022-10-17 21:08] #342 closed

[2022-10-18 20:12] JLuc commented on #342
thanks (and sorry for not replying earlier)

[2022-10-19 21:36] #345 closed

[2022-10-19 21:45] cleidigh commented on #342
@JLuc
No problem, glad you are set
@cleidigh

[2022-10-19 21:46] #344 closed

[2022-10-19 21:49] cleidigh commented on #336
Added in b1, will be in v12.0.2

[2022-10-19 21:53] #335 closed

[2022-10-19 22:28] #340 closed

[2022-10-20 07:50] BjornW commented on #351
Just letting you know the beta fix works for me as well. Running TB 102.2.2 on Ubuntu 22.04. Thank you!

[2022-10-20 22:14] cleidigh commented on #351
@BjornW
Great.
I should be releasing soon.
@cleidigh

[2022-10-21 18:11] cleidigh opened #353 "Fix/enable PDF output on OSX"

[2022-10-21 20:31] cleidigh commented on #349
@philbusby
b8 is my last beta. I will release (into review Q) in the next few days.
As mentioned, you will now need to enable the folder location column by setting the advanced preference :
extensions.importexporttoolsng.experimental.csv.account_folder_col
to true.

https://github.com/thundernest/import-export-tools-ng/blob/v12.0.2/xpi/import-export-tools-ng-12.0.2-b8-tb.xpi

@cleidigh

[2022-10-26 23:08] cleidigh commented on #351
v12.0.2 is in the review Q

[2022-10-27 16:54] cleidigh commented on #353
Addressed with v12.0.2 Release

[2022-10-27 16:54] #353 closed

[2022-10-27 16:56] cleidigh commented on #351
Addressed with v12.0.2 Release

[2022-10-27 16:56] #351 closed

[2022-10-27 16:57] cleidigh commented on #349
Addressed with v12.0.2 Release

[2022-10-27 16:57] #349 closed

[2022-10-27 16:59] cleidigh commented on #339
Addressed with v12.0.2 Release

[2022-10-27 16:59] #339 closed

[2022-10-27 17:04] cleidigh commented on #336
Addressed with v12.0.2 Release

[2022-10-27 17:04] #336 closed

[2022-10-27 17:07] cleidigh commented on #296
Addressed with v12.0.2 Release

[2022-10-27 17:08] #338 closed

[2022-10-27 17:11] #308 closed

[2022-10-27 17:55] cleidigh commented on #334
@wolfgangholzer
Just checking if you have resolved this?
@cleidigh

[2022-10-28 22:10] DenB10 opened #355 "Bug: Attachment Foder Names"
Hello,
It seems that the new functions implemented for the name of the attachment folders do not support accented characters. The corresponding folders are then not recognized, for example for an html export. Utf-8 problem ?
Can you fix this? Thank you!

[2022-10-29 03:39] cleidigh commented on #355
@DenB10
The file and date formats are all stored/read as utf-8 strings.
I just did a quick check on 91.13.1 & 102.4 setting the att folder to :
Attachments  À
This exported  with the folder reflecting the settings.
Can you id versions TB os locale etc.
Also capture console output.

cheers
@cleidigh

[2022-10-29 10:10] DenB10 commented on #355
@cleidigh
I think I misspoke. It's not really the names of the attachment folders that are the problem but the path of the attachments in the index that makes the attachments inaccessible.

I'm starting from the beginning:

OS: Windows 7 64-bit
Thunderbird version: 102.4.0 64-bit
Browser: Firefox 102.4.0esr 64-bit
Version of ImportExportTools NG: 12.0.2

1. I set the attachment folder name to "Piè

[2022-10-29 20:33] cleidigh commented on #355
@DenB10
ok, that makes more sense, however, it is not the index file, rather the attachment list in the exported HTML messages.
The href now needed an encodeURIcomponent to escape the utf-8 strings
and the text needed a utf-8 conversion from the internal string.

I have a test build you can try, I will start beta soon.
Thanks for catching this, have to see if there are other unintended consequence

[2022-10-30 11:01] DenB10 commented on #355
@cleidigh
Thanks, it works with attachments but not for embedded images.
I think you need to modify line 1494 with `data = data.replace(aUrl, encodeURIComponent(embImgContainer.leafName) + "/" + i + ".jpg");`.

Request for related functionality:
I usually display the body of messages in plain text. So if there are inline attachments, they are displayed in the normal attachment list. In this case,

[2022-11-05 18:48] yoshusawkalay opened #356 "i would like to ask for support for the import export tools. bulk e-mail export, etc"
I've seen these options: export as zip, and an option in different formats. One as a format seems possible: HTML with attachments. However, I am unable to find out from mozilla if it is as individual e-mails or like showing many in one file. I also don't know where the links in the HTML files are stored. I have read somewhere that not all attachments show up.

I had confused POP mail and accidenta

[2022-11-05 20:28] cleidigh commented on #356
@yoshusawkalay
You have several questions and perhaps goals. I will start by basic answers and You can follow up.

First backup versus moving or saving messages in local folders.
Backing up messages in a traditional sense usually means having them outside of Thunderbird possibly viewable by something like a browser. The export to HTML with the attachments is one example.  This case is one way, you

[2022-11-05 21:36] yoshusawkalay commented on #356
if they are exported, it would be helpful to view any attachments. sometimes it is necessary to access those files and emails, for some reason, and communicate with someone about them. It may be possible to copy content from an external source to a new e-mail, if it is saved into a file that is not just HTML format. If it is HTML format, and any attachments are separate, that is possible. For MBOX

[2022-11-06 19:11] cleidigh commented on #356
@yoshusawkalay
I think you should try exporting a small folder to HTML with attachments and you will see the structure and the attachment links in the messages.

The export to mbox files essentially makes a duplicate of the internal TB files, but then they are not visible to TB so they are no longer directly viewable.
@cleidigh

[2022-11-06 22:24] yoshusawkalay commented on #356
Do you mean that I should experiment with a subfolder? If mbox files are not directly viewable, what are they? How are they viewable?

[2022-11-06 22:49] cleidigh commented on #356
@yoshusawkalay
Yes right click on a folder in the tree and you will get the export options.
The mbox files are viewable when they are within TB, once exported TB does not know about them.

[2022-11-06 23:38] cleidigh commented on #356
Mbox files are a set of emails from a folder. EML files are a single message. EML files can be individually opened and viewed. Mbox files can only be viewed when they are within the TB database.

[2022-11-08 22:18] yoshusawkalay commented on #356
so, i should check the size of the subfolders first. I am not sure if the MBOX files can be put back into Thunderbird or not, because I think somebody said they can be. I just didn't see a clear option to do that. I will test exporting a small folder, yet I would like to export a backup copy of at was loaded (which is a lot of e-mails). I am not sure if some program can view those if it is MBOX fo

[2022-11-08 22:24] yoshusawkalay commented on #356
so it seems good for a small amount, but yet i see the several files. please let me know about if MBOX format can be viewed/re-imported. What I see as a potential option is something like a compressed file like jzip if not.

[2022-11-09 14:37] tnilzon opened #357 "No "ImportExportTools NG" menu added (v12.0.2)"
No "ImportExportTools NG" menu added in Thunderbird. It seems to install without any errors, but it is not possible to reach any import/export options.

ImportExportTools NG v12.0.2
Thunderbird v102.0.3 (64-bit)

System:
Operating System: Manjaro Linux
KDE Plasma Version: 5.26.2
KDE Frameworks Version: 5.99.0
Qt Version: 5.15.6
Kernel Version: 5.18.19-3-MANJARO (64-bit)
Graphics Platform: X11
Proc

[2022-11-09 15:18] tnilzon commented on #357
[UPDATE]: Suddenly (after adding some more add-ons and TB restarting) the "ImportExportTools NG" options started to appear in TB menus. Don´t know what happened, but for now it seems to work!

[2022-11-09 15:41] tnilzon commented on #357
[UPDATE 2]: The issue is back. No more "ImportExportTools NG" options in the TB menus. Seems to be some random behavior, but now I can't get it to work.

[2022-11-10 07:22] wolfgangholzer commented on #334
Dear Christopher,
I found a workaround, so the issue can be avoided.
It appears, that this size increase happens when exporting just marked mails from any folder. So I created an "handling folder", move the mails to be exported there, and then export all of them at once.
This results in the right size for all mails...
I think we can close this conversation, and I'd like to thank you for your suppo

[2022-11-10 09:17] benintech opened #358 "[Feature requests] Backup only the profile folder, not the messages"
Sometimes my profile gets corrupted, and some things stop working. So I'd lilke to have an automated backup of my profile every time I quit TB, but without the emails.

It would be great to add an option to exclude e-mails from backup.

[2022-11-10 16:22] yoshusawkalay commented on #356
hi, i am wondering if anybody is able to follow up with me? I don't understand specifically if MBOX files can be reimported back into Thunderbird when exported, since Thunderbird is a shell program, and downloads e-mails. Or is there a third-party program to view the e-mails? My only other thoughts are to compact files another way. I want to export many e-mails that might be too many to export ind

[2022-11-10 17:20] cleidigh commented on #356
@yoshusawkalay
Yes mbox files can be both exported and reimported. This is the native format that Thunderbird uses storing emails in one file per folder.

I think that you may be thinking about the backup as something "live".
I believe you may want separate the two goals.

First for viewing copy your emails to a local folder within Thunderbird .This allows you to view the emails normally.

Additio

[2022-11-10 17:23] cleidigh commented on #357
@tnilzon
Have you tried reinstalling?
Also have you looked at the console log.
@cleidigh

[2022-11-10 18:09] cleidigh commented on #358
@benintech
As we have the export mail only, a profile without mail does potentially make sense.
I cannot say yet if this can be done cleanly or safely.
The issues I am thinking about are related to the fact that removing the mail is easy, the problem is the database remains thinking it has the original mails.
I would need to see if Thunderbird would handle this appropriately.

How would you envisi

[2022-11-10 18:45] benintech commented on #358
I'm using POP3 accounts.
My e-mails amount to about 1.5 Tb (over 20 years of e-mails), and are stored outside of TB's profile folders.

Like I said, I had some unexplained profile corruption problems, the « Quick Filter » stopped working. I found out that it was probably a profile corruption, because even after having deleted all accounts except a small one, the problem still occurred.

Creating a

[2022-11-10 19:04] cleidigh commented on #334
@wolfgangholzer
I must apologize because I kind of disappeared on you.
That is good you found a workaround.
I still feel like there is some db issue since IETNG does not control the message boundaries.
keep an eye open for anything strange.
@cleidigh

[2022-11-10 22:02] yoshusawkalay commented on #356
I understand Thunderbird as another shell program. If it is POP mail, then the POP mail it stored there and it isn't deleted unless it is chosen by the user. However, it is not on the server. If it is IMAP, it is stored on the server while in Thunderbird, but deleted in both if one is. If I export something, but delete it from my account, how might it be imported again? Can you explain how to expo

[2022-11-11 06:46] tnilzon commented on #357
@cleidigh thanks for comment.
I tried reinstalling, but I can't say I noticed any improvement. But as for now it appears working again. I was also able to try "Export profile" and it worked perfectly.

[2022-11-12 19:50] ercek commented on #357
I am having the same issue. I downloaded my Takeout mbox file and am trying to use Thunderbird for the first time. I have the latest version (downloaded today) and added this add-on through Thunderbird's built-in add-on but the importexport option does not appear on the Tools list. I restarted, uninstalled, and reinstalled manually using the gear. Still no luck. I didn't add any other add-ons as n

[2022-11-12 20:06] cleidigh commented on #358
@benintech
That sounds good,but I am curious about your recovery steps and any issues you have found.
@cleidigh

[2022-11-12 21:16] cleidigh commented on #357
@ercek
Are you on Linux also?
So IETNG installs a menu under the Tools main top menubar, but not the hamburger menu.
Also the context menus for a message or folder.
Are you seeing any?
If not can you check the console output.
@cleidigh

[2022-11-12 21:48] ercek commented on #357
No, I am on a microsoft surface running the latest windows. I can provide the info if you tell me what is most important to know for this.
From the console, I have no idea how to interpret it so am pasting here.
1668289480686	addons.xpi	WARN	Checking C:\Program Files\Mozilla Thunderbird\distribution\extensions for addons
This page is in Quirks Mode. Page layout may be impacted. For Standards Mode

[2022-11-12 22:19] ercek commented on #357
Update: The Tools menu item still does not show up, but I was able to right click on Local Folders and import from there.

[2022-11-12 22:22] cleidigh commented on #357
@ercek
I do all my main development and testing on Win10 and final testing on my MacAir and Linux VM.

Thanks for the console output. I do see several errors that do not look normal,however, I don't think they originate from IETNG.

So are any of the context menus working (right click on message or folder)?
Can you get the options dialog from the wrench button in the extension entry?

If you clear

[2022-11-12 22:27] cleidigh commented on #357
@ercek
our posts crossed.
So to be clear the tools menu is on the main menu which has to be enabled with Alt-V then toggle toolbar main menu.
@cleidigh

[2022-11-12 22:35] ercek commented on #357
Thank you so much! The Alt-V version of the toolbar is the one I had been searching for until I discovered the right click on the folder.
To answer your questions:
Yes, right clicking on a message or folder gives me context menus. If I do so on the folder, I see the ImportExport option. I used this to pull in my mbox files.
I can also see the options dialog using the wrench button when I open the

[2022-11-12 22:43] cleidigh commented on #357
Great
Yes I do not install under the hamburger menu, I have thought about it,but I have to do it where the entry does not get confused with the internal import export entries.
@cleidigh

[2022-11-13 18:18] cleidigh commented on #356
@yoshusawkalay
First I suggest reading the help as it describes each menu function.

For mbox export :
Aggregate all the emails you want to export in a local folder
Now right click on that folder
Choose IETNG \ Export folder
Choose where to save
this will save a single mbox file

For re-import :
Right click on the folder you want to import to
Choose Import mbox file
Choose the mbox file you export

[2022-11-13 18:49] benintech commented on #358
I don't understand your concern. I didn't encounter any issue at all, everything works fine in the new profile.

I don't get that either. What database are you referring to ? My understanding is that the message's metadata are stored in `.msf` files, which are in the same folder as the mailboxes, OUTSIDE of the profile folder. My messages (and their `.msf` files) are stored in a `~/.msgs` folder.

[2022-11-14 03:31] yoshusawkalay commented on #356
I am confused about this process. Earlier, I exported this today. It froze during the process. I tried to imitate it later, and it said it exported it, but there isn't a file. Also, all of the files that were produced are the inbox. These were from a POP e-mail account. I am not sure if they included the subfolders from the account. When I created the POP mail, it did not show the subfolders. I am

[2022-11-15 12:04] BenoBlume opened #359 "Export Virtual-Folder"
Hallo I'm useing
In June 2022 (2022-06-11) it was possible to export VirtualFoldes.
Now I'm useing thunderbird 102.2.2 64 Linux + NG:Version 12.0.2 : Maintenance Release - October 24, 2022
In this actual Version only imap-Folders are possible to exported.
What's wrong ?
Beno

[2022-11-15 18:35] cleidigh commented on #359
@BenoBlume
Do you think this occurred updating fromTB 91?
I will look if I can find a difference.
@cleidigh

[2022-11-16 12:39] BenoBlume commented on #359
I got it : it was TB 91
papa@fdw:~> rpm -qi  MozillaThunderbird
Name        : MozillaThunderbird
Version     : 102.2.2
Release     : 150200.8.82.1
Architecture: x86_64
Install Date: Fr 30 Sep 2022 15:16:14 CEST

papa@fdw:/home/AllUsers/Service/sysdoku/cfg2html/backup> zgrep "^MozillaThunderbird-" fdw_lastrpm.txt-20220920.xz
MozillaThunderbird-translations-common-91.11.0-150200.8.76.1.x86_64 Thu Au

[2022-11-16 17:22] cleidigh commented on #359
@BenoBlume
Clarification :
Things worked with TB 91 And IETNG 11.1
I assume TB102 with IETNG 12.x is where it breaks?
Can you give me the simplest example of a VF that fails?
@cleidigh

[2022-11-16 19:16] cleidigh commented on #359
@BenoBlume
I found that exporting a saved search vf in 102 fails where 91 works.
It looks like some error handling changed.
I tested a fix that looks good.
I need to spin up a new beta for 12.0.3
I will post ref here for you, give me a bit.
Thanks for the catch!
@cleidigh

[2022-11-16 19:50] cleidigh opened #360 "v12.0.3 Maintenance Release Status"

[2022-11-16 20:12] cleidigh commented on #356
@yoshusawkalay
I am getting confused as you make some unclear statements.

First for basics please id the os, tb and IETNG versions.

Second we still are unclear that we are talking about accomplishing the same thing.
Exporting for backup and the ability to "view" the exported files are distinct.

When you exported what type did you do?
For simplicity I suggested a single folder export to mbox, no

[2022-11-17 14:39] BenoBlume commented on #359
Pefect thank you .. i will wait for the fix

[2022-11-17 14:42] fanofjop opened #361 "Header and Footer unwanted in pdf export format..."
Hello,
Header and Footer unwanted in pdf export format of messages..
![image](https://user-images.githubusercontent.com/107914828/202475760-024ed9ef-9667-4172-8a94-805819c7ab69.png)
How to make them disappear ?
- My configuration -
Windows : 11
ImportExportTools : Version 12.0.2 : Maintenance Release - October 24, 2022
Thunderbird : 102.3.1
- Screencopies -
Header of the message :
![image](https:/

[2022-11-17 19:08] cleidigh commented on #361
@fanofjop
In the new print preview dialog there is no way to set (or in your case clear) headers or footers. To change these you have to go to advanced preferences and blank these out.
@kiki-ja has a note on this from my other add on PrintingTools NG:
https://addons.thunderbird.net/EN-us/thunderbird/addon/printingtools-ng/?src=ss
This has all sorts of print options especially to the headers. My ne

[2022-11-17 19:23] yoshusawkalay commented on #356
i used the export option. Then export folder. It then exported a 1.5 gb inbox file. Actually a little larger. I have read some article that if the size of the mailbox might be larger, I may need to do something different, but I don't remember specifically.

That file is probably an MBOX file as it is inaccessible. I am wondering if there is a way to view them outside of Thunderbird, but since Thun

[2022-11-18 00:28] fanofjop commented on #361
@cleidigh
Thank you very much for the answer.
After many attempts, I understand that the isssue with PDF exportation in ImportExportTools is in reality an issue with header and footer in Thunderbird. Thunderbird has a big problem since some time with headers and footers and that's why I suppose they hide the possibility to try to make a customisation : because it will not work ! And I suppose that

[2022-11-18 18:28] fanofjop commented on #361
Like we know the export job into pdf is usually done with a virtual printer ("PDF Creator" and so on).
I'm don't know if the problem with headers and footers is first a Thunderbird problem or first a virtual printer PDF problem.
But I understand that Thunderbird hide all header and footer commands in he UI since the 91 tree. It's normal : they doesn't work properly !!!
For example :
0) I destroy a

[2022-11-18 19:07] cleidigh commented on #361
@fanofjop
IETNG uses the Mozilla pdf driver which ends up using internal defaults.
PTNG will allow using any driver. If a printer has blank headers or footers they will be respected.
@cleidigh

[2022-11-18 19:58] fanofjop opened #362 "ImportExportTools : naming files (thunderbird emails => PDF)"
![image](https://user-images.githubusercontent.com/107914828/202790596-00d7a0c9-621c-460e-9f36-b2cdccc6fe79.png)

### This configuration is perfect for me :
![image](https://user-images.githubusercontent.com/107914828/202786956-14740308-e254-4194-b887-2178a42924fa.png)
The result :
![image](https://user-images.githubusercontent.com/107914828/202787481-84054126-2cf2-4f67-844c-37016594bf4d.png)
=> d

[2022-11-18 22:43] cleidigh commented on #356
@yoshusawkalay
Yes what you exported is an mbox file.
If you want to view it you would have to re-import to a local folder. That way the server wouldn't do anything to the messages in the local folder.
There might be some software for viewing mbox files out there.

Unless you have some reason not to, my suggestion is still copy what you want viewable into your local folders and keep it in TB.
For

[2022-11-18 23:38] yoshusawkalay commented on #356
what does "local folder" mean? Because for me, to remove excess space is to delete the files from the server after creating that mbox file. I am not sure what a local folder is, since there is the inbox, and the subfolders that are created within the interface of the web service interface.

[2022-11-19 09:50] fanofjop commented on #361
Thank you for the info. The question now : how to change internal defaults !

[2022-11-19 16:21] kiki-ja commented on #361
@fanofjop
@cleidigh

## **[Tips] This is another way and workaround.**
Thunderbird 102.5.0 64bit
OS: Windows 10 Pro 22H2 64bit

When you want to export (save) a message as PDF, there is a way to do it without using ImportExportTools NG.
Of course, PrintingTools NG need not be used either.

That is to use "Save to PDF(en-US)" in Thunderbird Print.
This way you can export (save) messages as PDF with

[2022-11-20 19:57] cleidigh commented on #356
@yoshusawkalay
Sorry I assumed you were familiar with Local Folders.

Thunderbird starts with an empty pseudo account in the folder tree. Under LF you can create subfolders. LF folders are stored within your profile unless changed. Thes folders can be used to store messages however you wish. These folders differ from account folders in that they are independent of any account and TB does not manip

[2022-11-20 22:10] cleidigh commented on #362
@fanofjop
Definitely have to look into these items. I added the custom token based setup for more flexibility than the original author's three item method. I'll be honest I have not messed with that in ages.

As far as the origin of the various name fields, these come from the email headers, nothing from the address book.
@cleidigh

[2022-11-20 22:20] yoshusawkalay commented on #356
why would the subfolder appear on the website, when i create it under the account profile in thunderbird? then i delete it on the website, and it still is in thunderbird? At first, when I tried to create the folder, it seemed to indicate that there was no place to create a subfolder, but let me create one anyways. However, like I said, a folder was created on the website.

[2022-11-20 22:24] cleidigh commented on #356
Local folders do not get created on the server. To create them you right click on LF and add subfolder.

[2022-11-20 22:43] yoshusawkalay commented on #356
I see that now. It is at the bottom.. Is there ever a problem with exporting sent items? I read that there was a 4mb size limit previously. Also, importing them can be problematic.

[2022-11-20 23:04] cleidigh commented on #356
There is a 4GB file size limit.
Export from sent is no problem.
Imports to imap folders is problematic because this causes major sync issues.
@cleidigh

[2022-11-21 10:13] fanofjop commented on #362
OK Thanks !

[2022-11-21 10:15] fanofjop commented on #361
Good to know... Thanks

[2022-11-23 15:34] AdiMiraMichaels opened #363 "WHAT is saved and HOW to re-Import"
Import...tools 12.0.0
Thunderbird 102.5.0
Win 10 Pro

Debug
1669209684752	addons.xpi	WARN	Checking C:\Program Files (x86)\Mozilla Thunderbird\distribution\extensions for addons
tb.account.size_on_disk - Trying to set an unsigned scalar to a negative number. 14
Start: ExportFolders (mbox) [mboximport.js:754:10](chrome://mboximport/content/mboximport/mboximport.js)
   Subfolders: false [mboximport.j

[2022-11-28 17:50] cleidigh commented on #363
@AdiMiraMichaels
Can you give me a little more context?
You made full profile backups and now...
Are you trying to just restore the old mail?
@cleidigh